<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project 2</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/scripts/script.js"></script>
</head>
{{{body}}}
</html>
  