<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Create Event</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="eventName">Event Name</label>
        <input class="form-input" type="text" id="eventName" />
      </div>
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <input class="form-input" type="date" id="startDate" />
      </div>
      <div class="form-group">
        <label for="startTime">Starting Time</label>
        <input class="form-input" type="text" id="startTime" />
      </div>
      <div class="form-group">
        <label for="price">Admission Fee</label>
        <input class="form-input" type="text" id="price" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-input" type="text" id="description" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="create-event">Submit</button>
      </div>
    </form>
  </div>
<script src="/scripts/createEvent.js"></script>