<img src="images/comic-con2.jpg" alt="Convention Image">

{{#each events as |event|}}
{{> convention-details}}
{{/each}}

<section class="card">
    <header>Test Event</header>
    <img src="images/03-sample-event-TCCC.png" alt="Convention Image" style="position: relative;">
    <section class="card-info">
        <div>Monday, February 4th, 2024</div>
        <div>10:00AM</div>
        <div>$15</div>
    </section>
        <p><i>Come see Twin Cities comic-con! It's filled with fun and games and more fun!</i></p>
</section>

<section class="card">
    <header>Test Event</header>
    <img src="images/03-sample-event-TCCC.png" alt="Convention Image" style="position: relative;">
    <section class="card-info">
        <div>Monday, February 4th, 2024</div>
        <div>10:00AM</div>
        <div>$15</div>
    </section>
        <p><i>Come see Twin Cities comic-con! It's filled with fun and games and more fun!</i></p>
</section>

